
<div>
  <p>Voici la liste de Questions STAR WARS !</p>
  <div  *ngIf ="load" class="loader" role="status">
  </div>
  <div *ngFor="let nameSW of listePeopleSW">
    <app-people [people]="nameSW">
    </app-people>
  </div>

</div>
