<p class="question">{{enonce}}</p>
<div class="btn-block">
  <button (click)="oneClick(reponse1)">{{reponse1}}</button>
  <button (click)="oneClick(reponse2)">{{reponse2}}</button>
  <div *ngIf="afficheReponse">{{textAnswer}}</div>
</div>



