<h1>Liens de la Page</h1>
<nav>
  <a routerLink="/questions" routerLinkActive="active">Page Question</a>
  <br>
  <a routerLink="/peoples" routerLinkActive="active">Page Peoples</a>
</nav>
<router-outlet></router-outlet>

