<p>Voici la liste de Questions : </p>
<!-- pour chaque question de liste de questions tu vas me chercher la question -->
<div class="boucleForEachPourListe" *ngFor="let question of listeDeQuestions">
  <!-- Si question 1 est présente dans le tableau alors afficher les Q2 et Q3 -->
  <app-question
    *ngIf="showQuestion(question)"
    [enonce]="question.enonce"
    [reponse1]="question.reponse1"
    [reponse2]="question.reponse2">
  </app-question>
  <!-- je rapelle ma balise app-question et je passe ma variable question à la variable enonce (qui vient de componant question) -->
</div>
<!-- *ngIf="question !== 'Aimes-tu Star Wars ?'" -->
<!--  -->

